@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  --main-color: #1976d280;;
  --secondary-color: #91c8ff80;;
  --white-color: #fff;
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(0deg, var(--main-color) 0%, var(--white-color) 25%, var(--white-color) 100%);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Questrial', sans-serif;
  height: -webkit-fill-available;
  height: -moz-available;
  padding: 32px 0;
}

@media (min-width: 800px) {
  main {
    height: 100vh;
    padding: 0;
  }
}
